<section class="section">
  <div class="container">
    <ul class="text">
      <li>
        <div class="subtitle">
          <b class="rectangle"></b>
          <b class="text-transform">СТАРАЯ ТРАДИЦИОННАЯ ШКОЛА</b>
        </div>
      </li>
      <li>
        <h2 class="text-title">Почему приходят именно к нам ?</h2>
      </li>
      <li>
        <p class="text-section">
          О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать,
          чем 10 раз прочитать
        </p>
      </li>
    </ul>
    <ul class="box">
      <li class="item">
        <ul class="feature-1">
          <li>
            <ul class="feature-plus">
              <li><b class="numeral">600 </b></li>
              <li>
                <svg class="plus" width="9" height="9">
                  <use href="./images/symbol-defs.svg#icon-plus"></use>
                </svg>
              </li>
            </ul>
          </li>
          <li>
            <p class="box-text">Довольных клиентов в день</p>
          </li>
        </ul>
      </li>
      <li class="item">
        <ul class="feature-2">
          <li>
            <ul class="feature-plus">
              <li><b class="numeral">50 </b></li>
              <li>
                <svg class="plus" width="9" height="9">
                  <use href="./images/symbol-defs.svg#icon-plus"></use>
                </svg>
              </li>
            </ul>
          </li>
          <li>
            <p class="box-text">Наград за отличный сервис</p>
          </li>
        </ul>
      </li>
      <li class="item">
        <ul class="feature-3">
          <li>
            <ul class="feature-plus">
              <li><b class="numeral">20 </b></li>
              <li>
                <svg class="plus" width="9" height="9">
                  <use href="./images/symbol-defs.svg#icon-plus"></use>
                </svg>
              </li>
            </ul>
          </li>

          <li>
            <p class="box-text">Лучших мастеров Киева</p>
          </li>
        </ul>
      </li>
      <li class="item">
        <ul class="feature-4">
          <li>
            <ul class="feature-plus">
              <li><b class="numeral">100 </b></li>
              <li>
                <svg class="plus" width="9" height="9">
                  <use href="./images/symbol-defs.svg#icon-plus"></use>
                </svg>
              </li>
            </ul>
          </li>
          <li>
            <p class="box-text">Подарков постоянным клиентам</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
