<section class="section">
    <div class="container">
        <article class="text">
            <div class="subtitle">
                <b class="rectangle"></b>
                <b class="text-transform">СТАРАЯ ТРАДИЦИОННАЯ ШКОЛА</b>
            </div>
            <h2 class="text-title">Почему приходят именно к нам ?</h2>
            <p class="text-section">
                О нас говорят только хорошее. Но лучше 1 раз увидеть и
                прочувствовать, чем 10 раз прочитать
            </p>
        </article>
        <ul class="box">
            <li class="item">
                <div class="feature-1">
                    <b class="numeral">600 </b>
                    <svg class="plus" width="13" height="22">
                        <use href="./images/plus.svg"></use>
                    </svg>
                    </span>
                    <p class="box-text">Довольных клиентов в день</p>
                </div>
            </li>
            <li class="item">
                <div class="feature-2">
                    <b class="numeral">50</b>
                    <p class="box-text">Награда за отличный сервис</p>
                </div>
            </li>
            <li class="item">
                <div class="feature-3">
                    <b class="numeral">20</b>
                    <p class="box-text">Лучших мастеров Киева</p>
                </div>
            </li>
            <li class="item">
                <div class="feature-4">
                    <b class="numeral">100</b>
                    <p class="box-text">Подарков постоянным клиентам</p>
                </div>
            </li>
        </ul>
    </div>
</section>